html{
	font-size: 625%;  
}

@media screen and (max-width: 725px){
	html{
		font-size: 625%;
	}
}

@media screen and (max-width: 480px){
	html{
		font-size: 468.75%;
	}
}

@media screen and (max-width: 440px){
	html{
		font-size: 429.7%;
	}
}

@media screen and (max-width: 400px){
	html{
		font-size: 390.6%;
	}
}

@media screen and (max-width: 360px){
	html{
		font-size: 351.6%;
	}
}

@media screen and (max-width: 320px){
	html{
		font-size: 312.5%;
	}
}

/* 控制页面宽度 */
.row{
	width: 90%;
	margin: 0 auto;
}

@media screen and (max-width: 400px){
	.row{
		width: 96%;
	}
}

/**************** header开始***************** */

/* 设置头部背景颜色 */
header{
	background: #fff;
}

/* 头部客服热线部分 */
.head{
	height: .4rem;
	font-size: .14rem;
	line-height: .4rem;
    color: #29b078;
}

/* 三个图标居右 */
.head div{
	float: right;
}

/* 三个社交软件的logo */
.icon{
	display: inline-block;
	margin-right: .2rem;
	width: .25rem;
	height: .24rem;
	vertical-align: middle;
	background-image: url(../images/index.png);
	background-size: 1.99rem 1.63rem;
}

/* 微信 */
.wechat{
	background-position:-1.64rem -0.1rem;
}

/* 企鹅 */
.qq{
	background-position: -1.64rem -0.54rem;
}

/* 新浪 */
.sina{
	margin-right: 0;
	background-position: -1.64rem -0.98rem;
}


/************** 导航栏开始 ***********************/
/* 导航栏整体设置 */
.navigation{
	font-size: .161rem;        /* 改变字体大小 */
	background-color: #29b078; /* 设置背景颜色 */
}

/* 清除navbar预定义样式 */
.navbar{
	margin-bottom: 0;          /* 消除.navbar自带的margin-bottom20px; */
    min-height: 0;
}

.nav > li > a {
	color: #fff;               /* 改变导航字体颜色 */
}

.nav > li > a:hover {
	background-color: #47d197;  /* 取消预定义的hover背景色，并设置新的背景色 */
}

/* 当屏幕宽度大于768px时; */
@media screen and (min-width: 768px){

	.navbar-nav > li > a {
		padding: .22rem;        /* 扩大a的padding以填充导航条 */
		border-top: .05rem solid transparent;  /* 预设出透明边框，防止hover是边框突增而带来的闪动 */
		border-bottom: .05rem solid transparent;
	}

	.nav > li > a:hover{
		background-color: #29b078;        /* 取消预定义的hover背景色，并设置新的背景色 */
		border-bottom: .05rem solid #fff;  /* hover时，下方出现白条 */
	}	
}

/* 设置按钮 */
.navbar-toggle {
	margin-top: .2rem ;    /* 设置按钮的padding以撑开导航栏，且保证导航栏高度和非按钮状态下一致 */
	margin-bottom: .2rem;
	margin-right: 0; /* 清除按钮右侧的15px的margin */
	background-color: #47d197;
}

/* 按钮中间的icon-bar */
.navbar-toggle .icon-bar{
	background-color: #308863;
}

.navbar-brand{
	height: 0;
	padding-left: 0;
}

/* 设置导航栏标题（图片） */
.nav-title img{
	width: 1.09rem;
	height: .52rem;
}

/* *************************footer开始******************************* */
footer,
.copyright{
	font-size: .14rem;
	background-color: #26a26f;
	color: #fff;
}

footer h6{
	margin-top: .4rem;
	margin-bottom: .78rem;
	font-size: .16rem;
	font-weight: 400;
	color: #fff;
}

.contact span{
	padding-right: .15rem;
	margin-right: .1rem;
	border-right: 1px solid #fff;
}

/* 去掉合作企业右边的边框线 */
.contact span:last-child{
	border: none;
	margin: 0;
}

/* 设置旗下网站 */
.web a{
	display: inline-block;
	border: 1px solid transparent;
	text-decoration: none;
	color: #fff;
}

.web a:hover{
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #fff;
}

.web h6{
	margin-bottom: .3rem;
}

.web div{
	margin: .25rem 0;
}

.quickmark{
	margin-bottom: .15rem;
}

.quickmark h6{
	margin-bottom: .1rem;
}

/* 当屏幕小于px时，二维码在左边 */
@media screen and (max-width: 768px){
	.quickmark{
		text-align: left;
	}
}

/* 版权 */
.copyright{
	padding: .15rem 6%;
	border-top: 1px solid #32c086;
}