body{
	padding: 0;
	margin: 0;
	background-color: #fafafa;
}

/************ 轮播图开始 *******************/

/* 轮播图标题 */
.carousel-caption{
	font-size: .2rem;
	font-weight: 700;
}

.carousel-caption em{
	font-style: normal;
	font-size: .25rem;
}

.carousel-caption span{
	font-size: .22rem;
}

/* 调整三个切换圆标的位置 */
.carousel-indicators{
	bottom: -0.1rem;
}

/******************** main开始************************* */
main{
	margin-top: .8rem;
}

/* 添加图标 */

/* 高效 */
.efficient-icon{
	display: block;
	width: .44rem;
	height: .64rem;
	background: url(../images/index.png) -0.1rem -0.89rem;
	background-size: 1.99rem 1.63rem;
}

/* 规范 */
.standard-icon{
	display: block;
	margin-top: .12rem;
	width: .61rem;
	height: .52rem;
	background: url(../images/index.png) -0.83rem -0.1rem;
	background-size: 1.99rem 1.63rem;
}

/* 人脉 */
.connection-icon{
	display: block;
	margin-top: .05rem;
	width: .53rem;
	height: .59rem;
	background: url(../images/index.png) -0.1rem -0.1rem;
	background-size: 1.99rem 1.63rem;
}

/* 人形图标 */
.people-icon{
	display: inline-block;
	width: .13rem;
	height: .14rem;
	background: url(../images/index.png) -1.23rem -0.89rem;
	background-size: 1.99rem 1.63rem;
}

.advantages{
	min-height: 2rem;
	margin: .15rem 0;
}

/* 图表标题下面的文字介绍 */
.advantages span{
	display: inline-block;
	font-size: .16rem;
	text-align: left;
	color: #999;
}

/* 图标下面的标题 */
h6{
	margin: .3rem 0;
	font-size: .18rem;
	font-weight: 700;
	color: #000;
}

/* 人数统计部分 */
.outcomes{
	padding: 70px 0 70px 30px;
	border-left: 1px dashed #dedede;
	font-size: .18rem;
}

/* 人数 */
.outcomes span{
	color: #29b078;
}

.outcomes p{
	color: #999;
}

@media screen and (max-width: 970px){
	.outcomes{
		padding-left: 0;
		text-align: center;
	}
}
@media screen and (max-width: 750px){
	.outcomes{
		border: none;
	}
}

/* *****如何学习开始***** */

/* 如何学习的标题 */
h5{
	margin-top: .8rem;
	margin-bottom: .4rem;
	font-size: .18rem;
	font-weight: 700;
}

.study-ways{
	position: relative;
	margin-bottom: .2rem;
	height: 1rem;
	font-size: .14rem;
	color: #999;
}	

/* 箭头图标 */
.arrow{
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -0.13rem;
	width: .29rem;
	height: .27rem;
	background: url(../images/index.png) -0.74rem -0.89rem;
	background-size: 1.99rem 1.63rem;
}

/* 圆形编号 */
.number{
	position: absolute;
	top: 50%;
	left: .15rem;
	margin-top: -0.35rem;
	width: .7rem;
	height: .7rem;
	border-radius: 50%;
	border: 1px solid #eee;
	box-shadow: 0 0 20px #ddd;
	font-size: .18rem;
	line-height: .7rem;
	text-align: center;
	color: #29b078;
}

/* 文字介绍 */
.ways{
	position: absolute;
	top: 50%;
	left: .95rem;
	right: .35rem;
	transform: translateY(-50%);
}

/************ 优秀学员展示开始*********** */
.member{
	margin-top: .2rem;
	padding: .1rem;
	border: 1px solid #eee;
	box-shadow: 0 0 10px #ddd;
	text-align: center;
	background-color: #fff;
}

/* 学员姓名和职位 */
.member h6{
	font-size: .18rem;
	font-weight: 700;
}

.member span{
	display: inline-block; /* 设置此项后文字方能居左 */
	font-size: .16rem;
	text-align: left;
	color: #999;
}

/* 设置indicators的位置 */
.showbox{
	bottom: -0.6rem;
}

.carousel-indicators li{
	border: 1px solid #eee;
	box-shadow: 0 0 10px #ddd;
}

.carousel-indicators .active{
	background-color: #29b078;
}

/* 战略合作伙伴开始 */

/* 自定义5列的栅格 */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths{
	position: relative;
	min-width: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

@media(min-width: 768px){
	.col-sm-5ths{
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px){
	.col-md-5ths{
		width: 20%;
		float: left;
	}
}

@media (min-width: 1200px){
	.col-lg-5ths{
		width: 20%;
		float: left;
	}
}

.cooperation{
	margin-top: 1.2rem;
	margin-bottom: .6rem;
}

.partner div{
	height: 1.8rem;
	line-height: 1.8rem;
	text-align: center;
	background-color: #fff;
}

.partner div:hover{
	box-shadow: 0 0 10px #ddd;
	z-index: 1; /* 提高层级以防阴影被遮盖 */
}

/* *************友情链接开始 *******************/
/* 自定义10列的栅格 */
.col-xs-10s,
.col-sm-10s,
.col-md-10s,
.col-lg-10s{
	position: relative;
	min-width: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

@media(min-width: 768px){
	.col-sm-10s{
		width: 10%;
		float: left;
	}
}

@media (min-width: 992px){
	.col-md-10s{
		width: 10%;
		float: left;
	}
}

@media (min-width: 1200px){
	.col-lg-5ths{
		width: 10%;
		float: left;
	}
}

.friend-link{
	margin-top: 1rem;
	padding-bottom: .1rem;
	background-color: #fff;
}

/* 友情链接标题 */
.friend-link h5{
	margin-top: .25rem;
	margin-bottom: .3rem;
}

/* 添加项目符号 */
.friend-link a:before{
	content: "●";
	padding-right: .05rem;
	vertical-align: text-middle;
	color: #999;
}

.link{
	width: 1rem;
	text-align: left;
}

.friend-link a{
	display: inline-block;
	padding-top: .1rem;
	padding-bottom: .1rem;
    border-bottom: 1px solid transparent;
	font-size: .14rem;
	white-space: nowrap;
	text-decoration: none;
	color: #999;
}

.friend-link a:hover{
	border-bottom: 1px solid #26a26f;
}

/* 友情链接结束 */





















