body{
	margin: 0;
	padding: 0;
	/* background-color: #29bde0; */
}

html{
	font-size: 625%;   /* 640*1136 */
}

@media screen and (max-width: 725px){
	html{
		font-size: 625%;
	}
}

@media screen and (max-width: 480px){
	html{
		font-size: 468.75%;
	}
}

@media screen and (max-width: 440px){
	html{
		font-size: 429.7%;
	}
}

@media screen and (max-width: 400px){
	html{
		font-size: 390.6%;
	}
}

/* header */
header{
	border-bottom: 1px solid #74d4eb;
	height: .95rem;
	font-size: .34rem;
	line-height: .95rem;
	background-color: #29bde0;
	color: #fff	;
}

/* 头部左侧home小图标 */
.home{
	display: inline-block;
	width: .51rem;
	height: .42rem;
	vertical-align: middle;
	background: url(../images/result.png) -0.05rem -0.05rem;
	background-size: 1.11rem 0.52rem;
}

/* 头部右侧图标 */
.help{
	display: inline-block;
	width: .4rem;
	height: .42rem;
	vertical-align: middle;
	background: url(../images/result.png) -0.66rem -0.05rem;
	background-size: 1.11rem 0.52rem;
}

/* main开始 */
.main{
	padding-bottom: .1rem;
	background-color: #29bde0;
}

/* 屏幕两侧空白 */
.main .row,
.process .row{
	padding-left: 2%;
	padding-right: 2%;
}

/* 卧底胜利图片 */
.result img{
	margin-top: .4rem;
	width: 3.51rem;
	height: 2.05rem;
}
/* 卧底胜利文字 */
.result p{
	margin-top: -0.75rem;
	margin-bottom: .2rem;
	font-size: .481rem;
	color: #fff;
}

/* 卧底胜利文字解说 */
.result span{
	display: inline-block;
	margin-bottom: .4rem;
	font-size: .33rem;
	text-align: left;
	color: #ffc865;
}

/* 玩家身份统计 */
.data{
	margin-bottom: .1rem;
	font-size: .26rem;
	white-space: nowrap;
	color: #fff;
}

/* 文字对齐 */
.word2{
	letter-spacing: 1.45em;
	margin-right: -1.45em;
}

/* 文字对齐 */
.word3{
	letter-spacing: .2em;
	margin-right: -0.2em;
}

/* 游戏天数 */
.day{
	padding-top: .1rem;
	padding-bottom: .2rem;
	font-size: .3rem;
	background-color: #fff;
	color: #515151;
}

/* 持续时间 */
.day-time{
	padding-top: .1rem;
	font-size: .2rem;
	color: #cfcfcf;
}

/* 游戏详情 */
.game-process{
	font-size: .25rem;
	color: #a6a6a6;
}

/* 底部分隔线 */
.bottom-line{
	padding-top: .1rem;
	padding-bottom: .3rem;
	border-bottom: 1px solid #ddd;
}

/* footer开始 */
footer{
	height: 1.3rem;
	background-color: rgba(41, 189, 224, 0.5);
}

/* 底部按钮 */
footer button{
	margin-top: 0.2rem;
	border: none;
	border-radius: .15rem;
	width: 95%;
	height: .9rem;
	font-size: .35rem;
	color: #fff;
	outline: none;
}

/* 按钮颜色 */
.once{
	background-color: #f66f6f;
}

/* 按钮颜色 */
.share{
	background-color: #fbb435;
}

/* 按钮下面的文字 */
.process .unknow{
	padding-top: .8rem;
	font-size: .399rem;
	color: #29bde0;
}