body{
	margin: 0;
	padding: 0;
	background-color: #29bde0;
}

html{
	font-size: 625%;   /* 640*1136 */
}

@media screen and (max-width: 725px){
	html{
		font-size: 625%;
	}
}

@media screen and (max-width: 480px){
	html{
		font-size: 468.75%;
	}
}

@media screen and (max-width: 440px){
	html{
		font-size: 429.7%;
	}
}

@media screen and (max-width: 400px){
	html{
		font-size: 390.6%;
	}
}

@media screen and (max-width: 360px){
	html{
		font-size: 351.6%;
	}
}

@media screen and (max-width: 320px){
	html{
		font-size: 312.5%;
	}
}

/* header开始 */
header{
	height: .85rem;
	line-height: .85rem;
	font-size: .34rem;
	background-color: #29bde0;
	color: #fff;
}

.menu{
	display: inline-block;
	width: .39rem;
	height: .4rem;
	vertical-align: middle;
	background: url(../images/vote.png) -0.02rem -1.79rem;
	background-size: 0.56rem 3.33rem;
}

.cross{
	display: inline-block;
	width: .36rem;
	height: .37rem;
	vertical-align: middle;
	background: url(../images/vote.png) -0.02rem -1.38rem;
	background-size: 0.56rem 3.33rem;
}

/* main开始 */
main{
	margin-top: .85rem;
	margin-bottom: 1.9rem;
	/* background-color: #29bde0; */
}

/* 提醒大家投票 */
.notice{
	position: relative;
	padding-left: .4rem;
	height: .8rem;
	font-size: .26rem;
	line-height: .8rem;
	background-color: #b9e9f5;
}

/* 音频播放器 */
.audio{
	position: absolute;
	top: 50%;
	right: .15rem;
	margin-top: -0.26rem;
	width: .52rem;
	height: .52rem;
	background: url(../images/vote.png) -0.02rem -2.23rem;
	background-size: 0.56rem 3.33rem;
}

/* 小三角 */
.triangle{
	margin-left: 3em;
	width: 0;
	height: 0;
	border: .1rem solid #b9e9f5;
	border-top-width: .15rem;
	border-color: #b9e9f5 transparent transparent transparent;
}

/* 点击玩家头像的文字提醒 */
.click{
	margin-left: 2em;
	font-size: .24rem;
	color: #fff;
}

/* 玩家头像部分 */
.number{
	margin-top: .35rem;
	margin-bottom: .35rem;
	border: .07rem solid #fff;
	width: 1.34rem;
	height: 1.34rem;
}

/* 玩家身份 */
.identity{
	height: .89rem;
	width: 100%;
    font-size: .3rem;
    line-height: .89rem;
    background-color: #f5c97b;
    color: #565656;
}

/* 玩家编号 */
.num{
	font-size: .228rem;
	background-color: #83b09a;
	color: #fff;
}

/* 玩家头像下面四个小图标 */
.knife{
	display: inline-block;
	margin-right: 2%;
	width: .3rem;
	height: .3rem;
	background: url(../images/vote.png) -0.02rem -0.02rem;
	background-size: 0.56rem 3.33rem;
}

.glass{
	display: inline-block;
	margin-right: 2%;
	width: .3rem;
	height: .3rem;
	background: url(../images/vote.png) -0.02rem -0.36rem;
	background-size: 0.56rem 3.33rem;
}

.position{
	display: inline-block;
	margin-right: 2%;
	width: .3rem;
	height: .3rem;
	background: url(../images/vote.png) -0.02rem -0.7rem;
	background-size: 0.56rem 3.33rem;
}

.add{
	display: inline-block;
	width: .3rem;
	height: .3rem;
	background: url(../images/vote.png) -0.02rem -1.04rem;
	background-size: 0.56rem 3.33rem;
}

/* 隐藏四个小图标 */
 .toolbar{
 	width: 1.34rem;
 	font-size: 0;
	visibility: hidden;
} 

/* 鼠标悬停在玩家头像上面，四个小图标出现 */
.profile:hover .toolbar{
	visibility: visible;
}

/* 底部 */
footer{
	height: 1.9rem;
	background-color: #29bde0;
}

/* 底部按钮 */
footer button{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	outline: none;
	width: 77%;
	height: .9rem;
	font-size: .4rem;
	background-color: #fbb435;
	color: #fff;
}
