body {
  background-color: #29bde0;
}
/* 左边的菜单图标 */
.head_menu {
  width: 0.39rem;
  height: 0.4rem;
  background: url("../images/vote.png") -0.02rem -1.79rem;
  background-size: 0.56rem 3.33rem;
}
/* 右边的关闭图标 */
.head_close {
  width: 0.36rem;
  height: 0.37rem;
  background: url("../images/vote.png") -0.02rem -1.38rem;
  background-size: 0.56rem 3.33rem;
}
/* main开始 */
.main {
  margin-top: 0.85rem;
  margin-bottom: 1.9rem;
  padding-bottom: 0.5rem;
}
.main_notice {
  position: relative;
  padding-left: 0.4rem;
  height: 0.8rem;
  font-size: 0.26rem;
  line-height: 0.8rem;
  background-color: #b9e9f5;
}
.main_audio {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.2rem;
  width: 0.52rem;
  height: 0.52rem;
  background: url("../images/vote.png") -0.02rem -2.23rem;
  background-size: 0.56rem 3.33rem;
}
.main_vote {
  font-size: 0;
}
.main_triangle {
  margin-left: 0.6rem;
  width: 0;
  height: 0;
  border: 0.1rem solid #b9e9f5;
  border-top-width: 0.15rem;
  border-color: #b9e9f5 transparent transparent transparent;
}
.main_click {
  margin-left: 0.6rem;
  font-size: 0.24rem;
  color: #fff;
}
.player {
  font-size: 0;
}
.player:after {
  content: "";
  display: block;
  clear: both;
}
.player_profile {
  width: 20%;
  margin: 6.4% 6.4% 0 6.4%;
  float: left;
}
.player_profile:hover .player_toolbar {
  visibility: visible;
}
.player .profile_num {
  height: 20vw;
  border: 0.07rem solid #fff;
  text-align: center;
}
.player .profile_num--identity {
  height: 15vw;
  font-size: 0.3rem;
  line-height: 15vw;
  background-color: #f5c97b;
  color: #565656;
}
.player .profile_num--num {
  height: 5vw;
  font-size: 0.228rem;
  line-height: 5vw;
  background-color: #83b09a;
  color: #fff;
}
.player_toolbar {
  visibility: hidden;
  white-space: nowrap;
  text-align: justify;
  text-align-last: justify;
}
.player .toolbar_knife {
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  background: url("../images/vote.png") -0.02rem -0.02rem;
  background-size: 0.56rem 3.33rem;
}
.player .toolbar_glass {
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  background: url("../images/vote.png") -0.02rem -0.36rem;
  background-size: 0.56rem 3.33rem;
}
.player .toolbar_position {
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  background: url("../images/vote.png") -0.02rem -0.7rem;
  background-size: 0.56rem 3.33rem;
}
.player .toolbar_add {
  display: inline-block;
  margin: 25% 0 0 0;
  width: 0.3rem;
  height: 0.3rem;
  background: url("../images/vote.png") -0.02rem -1.04rem;
  background-size: 0.56rem 3.33rem;
}
.footer {
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 0;
  height: 1.9rem;
  background-color: #29bde0;
}
.footer_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  outline: none;
  width: 77%;
  height: 0.9rem;
  font-size: 0.4rem;
  background-color: #fbb435;
  color: #fff;
}
