
/* **************flex方法*********************** */

/* 重设body的样式 */
body{
	margin: 0;
	padding: 0;
	background-color: #eff0f4;
}

/* 利用媒体查询设置font-size */
html{
	font-size: 625%;   /* 720*1280 */
}

@media screen and (max-width: 725px){
	html{
		font-size: 625%;
	}
}

@media screen and (max-width: 480px){
	html{
		font-size: 417%;
	}
}

@media screen and (max-width: 440px){
	html{
		font-size: 382%;
	}
}

@media screen and (max-width: 400px){
	html{
		font-size: 347%;
	}
}

@media screen and (max-width: 360px){
	html{
		font-size: 312.5%;
	}
}

@media screen and (max-width: 320px){
	html{
		font-size: 278%;
	}
}

/* 设置header */
header{
	display: -webkit-flex;           /* 兼容处理 */
	display: flex;
	justify-content: space-between;  /*文字 左右中 分布*/
	align-items: center;             /* 文字居中 */  
	height: 0.9rem;
	background-color: #5fc0cd;
	font-size: 0.36rem;
	color: #fff;
}

/* 关闭 */
.close{
	padding-left: 0.3rem;
	font-size: 0.32rem;
}

/* 注册 */
.login{
	padding-right: 0.3rem;
	font-size: 0.32rem;
}

form{
	display: -webkit-flex;           /* 兼容处理 */
	display: flex;
	flex-direction: column;
	position: relative;
}

/* 设置input */
input{
	height: 1rem;
	margin-top: 0.15rem;
	padding: 0 0 0 1.4rem;
	border: none;
	outline: none;
	font-size: 0.3rem;
}

/* 手机号输入框的背景图片设置 */
input[type=text]{
	background: url(images/iphone.png) #fff no-repeat 0.3rem center;
	background-size: 0.27rem 0.41rem;
}

/* 密码输入框的背景图片设置 */
input[type=password]{
	background: url(images/locked.png) #fff no-repeat 0.3rem center;
	background-size: 0.29rem 0.43rem;
}

/* 设置input中的placeholder属性的颜色并进行兼容性处理 */
input::-webkit-input-placeholder{  /* WebKit, Blink, Edge */
	color: #eaedee;
}
input:-moz-placeholder{  /* Mozilla Firefox 4 to 18 */
	color: #eaedee;
}
input::-moz-placeholder{  /* Mozilla Firefox 19+ */
	color: #eaedee;
}
input:-ms-input-placeholder{ /* Internet Explorer 10-11 */
	color: #eaedee;
}

/* 设置背景图片右侧的分隔线 */
form span{
	position: absolute;
    left: 1rem;
	z-index: 1;
	height: 0.55rem;
	width: 0.02rem;
    background-color: #eaedee; 
}

.phone-line{
	top: 0.375rem;

}

.pwd-line{
	top: 1.525rem;
}

/* 设置button */
button{
	height: 1rem;
	margin-top: 0.7rem;
	border: none;
	background-color: #5fc0cd;
	outline: none;
	font-size: 0.36rem;
	color: #fff;
	letter-spacing: 0.1rem
}

/* 设置下方文字部分 */
a{
	float: right;
	padding: 0.2rem 0.3rem 0 0;
	font-size: 0.28rem;
	color: #5fc0cd;
}
