body,
ul,
li{
	margin: 0;
	padding: 0;
}

html{
	font-size: 625%;
}

@media screen and (max-width: 725px){
	html{
		font-size: 625%;
	}
}

@media screen and (max-width: 480px){
	html{
		font-size: 468.75%;
	}
}

@media screen and (max-width: 440px){
	html{
		font-size: 429.7%;
	}
}

@media screen and (max-width: 400px){
	html{
		font-size: 390.6%;
	}
}

@media screen and (max-width: 360px){
	html{
		font-size: 351.6%;
	}
}

@media screen and (max-width: 320px){
	html{
		font-size: 312.5%;
	}
}

/* **************header开始************* */
.head {
	display: flex;
	justify-content: space-between;
	padding: 0 3%;
	font-size: .14rem;
	line-height: .5rem;
	background-color: #1d7ad9;
	color: #fff;
}

/* 登陆和注册按钮 */
.head input {
	border: none;
	outline: none;
	height: 100%;
	font-size: .16rem;
}

/* 登陆 */
.head .sign-in {
	width: .8rem;
	border-left: .01rem solid #fff;
	background-color: #1d7ad9;
	color: #fff;
}

/* 注册 */
.sign-up {
	width: 1.1rem;
	background-color: #fff;
}

/* ****navigation开始**** */
nav {
	display: flex;
	justify-content: flex-end;
	padding: 0 3%;
	font-size: 0;
	background-color: #f9f9f9;
}

/* li的padding撑起nav */
nav li {
	display: inline-block;
	padding: .25rem 0;
	list-style: none;
}

nav li > a {
	display: inline-block;
	margin-left: .5rem;
	padding: .15rem;
	border: .01rem solid #eee;
	border-radius: 7%;
	box-shadow: 0.02rem 0.02rem 0.02rem #eee;
	font-size: .16rem;
	text-decoration: none;
	background-color: #fff;
	color: #000;
}

@media screen and (max-width: 590px){
	nav li > a {
		margin-left: .25rem;
	}
}

/* 悬停变色 */
nav li > a:hover {
	background-color: #1d7ad9;
	color: #fff;
}

/* 首页按钮始终高亮显示 */
.active {
	background-color: #1d7ad9;
	color: #fff;
}

/* ********************流程图开始************* */
.flowchat{
	display: flex;
	justify-content: flex-end;
	margin-top: .35rem;
	padding: 0 3%;
	font-size: .14rem;
}

/* 圆形编号 */
.number{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -0.15rem;
	width: .3rem;
	height: .3rem;
	border-radius: 50%;
	line-height: .3rem;
	background-color: #ccc;
	color: #fff;
}

/* 流程线 */
.line{
	margin-top: .13rem;
	width: 1.5rem;
	height: .05rem;
	background-color: #ccc;
}

/* 流程线的自适应 */
@media screen and (max-width: 680px){
	.line{
		width: 1.3rem;
	}
}

@media screen and (max-width: 590px){
	.line{
		width: 1.1rem;
	}
}

@media screen and (max-width: 330px){
	.line{
		width: 1.3rem;
	}
}

.flowchat > div {
	position: relative;
	text-align: center;
	color: #ccc;
}

.flowchat > div p{
	margin-top: .3rem;
}

/* 第一步变色 */
.flowchat > div:first-child{
	color: #ff7f02;
}

.flowchat > div:first-child span,
.flowchat > div:first-child div{
	background-color: #ff7f02;
}


/* *********************************main开始*********************** */
main{
	margin-top: .5rem;
	padding: 0 3%;
	font-family: "Microsoft YaHei";
	font-size: .18rem;
}

h3{
	padding-left: .1rem;
	border-left: 0.03rem solid #1d7ad9;
	font-size: .22rem;
	line-height: 1;
}

/* 选择箱型，尺寸和材质 */
.customize{
	padding: 0.13rem 0 0.13rem .15rem;
	background-color: #f3f3f3;
	font-weight: 700;
	color: #1d7ad9;
}

/* 三个图标 */
.icon{
	display: inline-block;
	margin-right: .05rem;
	vertical-align: middle;
	background-image: url(images/package.png);
	background-size: 0.78rem 0.74rem;
}

/* 箱型的图标 */
.type{
	width: .2rem;
	height: .15rem;
	background-position: -0.1rem -0.49rem;
}

/* 尺寸的图标 */
.size{
	width: .22rem;
	height: .19rem;
	background-position: -0.1rem -0.1rem;
}

/* 材质的图标 */
.material{
	width: .16rem;
	height: .19rem;
	background-position: -0.52rem -0.1rem;
}

/* 箱型，尺寸和材质 */
.carton{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .3rem;
	padding-right: 0;
	border-left: .01rem solid #eee;
	border-right: .01rem solid #eee;
	background-color: #fbfcff;
	color: #666;
}

/* 当屏幕宽度小于625px时，三个选项变成一列 */
@media screen and (max-width: 625px){
	.optional{
		width: 2rem;
	}
}

/**** radio的自定义样式 ****/
input[type="radio"] + label:before {
	content: "";
	display: inline-block;
	margin-right: .2rem;
	border-radius: 50%;
	border: 1px solid #ccc;
	width: .2rem;
	height: .2rem;
	vertical-align: middle;
	background-color: #f8f9fb;
}

input[type="radio"]:checked + label:before {
	border: .09rem solid #1d7ad9;
	width: .04rem;
	height: .04rem;
}

input[type="radio"] {
	display: none;
}

.box-type label {
	display: inline-block;
	margin-top: .1rem;
	margin-right: .3rem;
	white-space: nowrap;
}

/* 自定义select的样式 */

/* 用div来覆盖select的样式 */
.details {
	position: relative;
	margin-right: .1rem; 
	width: 1.2rem;
	height: .4rem;
	border: 1px solid #eee;
}

/* 清除并修改select自身的样式 */
.details select{
	padding-left: .15rem;
	border: none;
	outline: none;
	width: 100%;
	height: 100%;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: .14rem;
	color: #999;
}

/* 自定义个小三角 */
.details:after{
	content: "";
	position: absolute;
	top: 50%;
	right: .11rem;
	margin-top: -0.035rem;
	border-width: .06rem;
	border-style: solid;
	border-color: #fff transparent transparent transparent;
    pointer-events: none;  /* 点击时直接作用于下一层元素 */
}

/* 加个蓝色小方块 */
.details span{
	position: absolute;
	top: 50%;
	right: .05rem;
	transform: translateY(-50%);
	height: 80%;
	width: .25rem;
	background-color: #1d7ad9;
	pointer-events: none;
}

/* 根据屏幕大小调整select大小 */
@media screen and (max-width: 480px) {
	.details {
		margin-right: .1rem; 
		width: 1.4rem;
	}
	.details select{
		padding-left: .2rem;
	}
}

@media screen and (max-width: 394px) {
	.details {
		margin-right: .1rem; 
		width: 1.5rem;
	}
	.details select{
		padding-left: .2rem;
	}
}

@media screen and (max-width: 320px) {
	.details {
		margin-right: .1rem; 
		width: 1.6rem;
	}
	.details select{
		padding-left: .2rem;
	}
}

/* 长宽高 */
.box-radius{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: .2rem;
}

/* 确认尺寸里所有的label内容都不换行 */
.box-radius label{
	white-space: nowrap;
}

/* 单选按钮和尺寸之间的距离 */
.box-radius > label{
	margin-right: .25rem;
}

/* 设置尺寸输入框的大小 */
.size-box input{
	margin: 0 .05rem;
	width: .7rem;
	height: .3rem;
	outline: none;
	border: 0.01rem solid #e8e8e8;
	font-size: .18rem;
}

/* 长宽高尺寸输入框的设置 */
.size-box label{
	display: inline-block;
	margin-bottom: .05rem;
	margin-top: .05rem;
	margin-left: .1rem;
}

/* 当屏幕小于774px时，长宽高变成一列 */
@media screen and (max-width: 774px){
	.size-box{
		width: 1.5rem;
	}
}


.box-material label{
	display: inline-block;
	margin-bottom: .1rem;
	margin-top: .1rem;
	margin-right: .25rem;
	white-space: nowrap;
}

/* 根据屏幕大小调整列数 */
@media screen and (max-width: 1125px){
	.box-material{
		width: 5.5rem;
	}
}

@media screen and (max-width: 795px){
	.box-material{
		width:3.5rem;
	}
}

@media screen and (max-width: 570px){
	.box-material{
		width:1.8rem;
	}
}

/* 下一步按钮 */
.next{
	text-align: center;
	border: 1px solid #eee;
}

.next button{
	margin: 1rem 0;
	width: 1.8rem;
	height: .45rem;
	border: none;
	border-radius: 6%;
	outline: none;
	font-size: .24rem;
	background-color: #e15053;
	color: #fff;
}

/* ************footer开始*************** */
.footer{
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	padding: 0 3%;
	font-size: .14rem;
	text-align: center;
	background-color: #f9f9f9;
	color: #999;
}

/* 重设footer中a的样式 */
.footer a {
	text-decoration: none;
	color: #999;
}
/*  悬浮变色 */
.footer a:hover{
	color: #1d7ad9;
}

/* 设置三部分 */
.part{
	padding: .5rem 0;
	width: 31%;
}

/* 中间部分 */
.center span{
	display: inline-block;
	margin-bottom: .2rem;
	margin-right: .18rem;
	white-space: nowrap;
}

/* 多行居左 */
.center{
	text-align: left;
}

/* 左边部分 */
.left{
	text-align: left;
	font-size: .18rem;
}

/* 右边 */
.right div{
	display: inline-block;
}

.right p{
	margin: 0;
	padding-bottom: .15rem;
	width: 1.5rem;
	text-align: left;
}

.right img{
	width: .82rem;
	height: .83rem;
}

/* 当屏幕变小时一列排列 */
@media screen and (max-width: 850px){
	.footer{
		flex-direction: column;
	}

	.part{
		text-align: center;
		width: 100%;
	}
}

@media screen and (max-width: 485px){
	.footer{
		flex-direction: column;
	}

	.part{
		text-align: left;
	}

	.right p{
		width: auto;
	}
}

/* 版权 */
.copyright{
	padding: .15rem 3%;
	font-size: .12rem;
	text-align: center;
	background-color: #1d7ad9;
	color: #fff;
}
































