body,
ol,
ul,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
button,
input {
  outline: none;
  border: none;
}
button {
  cursor: pointer;
}
html {
  font-size: 625%;
  font-family: sans-serif;
}
body {
  overflow-x: hidden;
  background-color: #fafafa;
}
/* reseting font-size of html via media query */
/* generating the font-size of html via loop */
@media screen and (max-width: 320px) {
  html {
    font-size: 277.77777778%;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 312.5%;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 347.22222222%;
  }
}
@media screen and (max-width: 440px) {
  html {
    font-size: 381.94444444%;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 416.66666667%;
  }
}
@media screen and (max-width: 520px) {
  html {
    font-size: 451.38888889%;
  }
}
@media screen and (max-width: 560px) {
  html {
    font-size: 486.11111111%;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 520.83333333%;
  }
}
@media screen and (max-width: 640px) {
  html {
    font-size: 555.55555556%;
  }
}
.head {
  padding: 0 5%;
  font-size: 0.14rem;
  line-height: 0.4rem;
  background-color: #fff;
  color: #29b078;
}
.head_right {
  float: right;
}
.head_wechat {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.15rem;
  margin-left: 0;
  width: 0.25rem;
  height: 0.24rem;
  background: url("../header/images/header.png") -0.05rem -0.05rem;
  background-size: 1.05rem 0.34rem;
}
.head_qq {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.15rem;
  width: 0.25rem;
  height: 0.24rem;
  background: url("../header/images/header.png") -0.4rem -0.05rem;
  background-size: 1.05rem 0.34rem;
}
.head_sina {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.15rem;
  width: 0.25rem;
  height: 0.24rem;
  background: url("../header/images/header.png") -0.75rem -0.05rem;
  background-size: 1.05rem 0.34rem;
}
.nav {
  padding: 0 5%;
  font-size: 0;
  background-color: #29b078;
  /* 折叠后 */
}
.nav_brand {
  display: inline-block;
  padding: 0.18rem 0;
}
.nav_brand img {
  width: 1.09rem;
  height: 0.52rem;
}
.nav_toggle {
  display: none;
}
.nav_navbar {
  position: relative;
}
.nav_navbar:after {
  content: "";
  display: table;
  clear: both;
}
.nav_collapse {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.2rem;
}
.nav_collapse li {
  display: inline-block;
  padding: 0.25rem;
  line-height: 0.35rem;
}
.nav_collapse li:hover {
  border-bottom: 0.03rem solid #fff;
}
@media screen and (max-width: 768px) {
  .nav label {
    float: right;
    margin: 0.2rem 0;
    border: 0.1rem solid #47d197;
    border-radius: 15%;
    background-color: #308863;
  }
  .nav_toggle--icon {
    display: inline-block;
    margin: 0.05rem 0;
    border-top: 0.05rem solid #47d197;
    border-bottom: 0.05rem solid #47d197;
    width: 0.35rem;
    height: 0.05rem;
    background-color: #308863;
  }
  .nav_collapse {
    position: static;
    display: none;
    border-top: 0.01rem solid #47d197;
    font-size: 0.17rem;
    text-align: center;
  }
  .nav_collapse li {
    display: block;
    padding: 0;
    height: 0.5rem;
    line-height: 0.5rem;
  }
  .nav_collapse li:hover {
    border: none;
  }
  .nav_collapse a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .nav_collapse a:hover {
    background-color: #47d197;
  }
  .nav_toggle:checked ~ .nav_collapse {
    display: block;
    -webkit-animation: 0.3s height1;
  }
  @keyframes height1 {
    0% {
      height: 0;
    }
    10% {
      height: 0.25rem;
    }
    25% {
      height: 0.5rem;
    }
    40% {
      height: 0.75rem;
    }
    50% {
      height: 1rem;
    }
    60% {
      height: 1.25rem;
    }
    75% {
      height: 1.5rem;
    }
    90% {
      height: 1.75rem;
    }
    100% {
      height: 2rem;
    }
  }
}
.main {
  padding: 0 5% 1.5rem 5%;
}
.main_path {
  padding: 0.3rem 0;
  border-bottom: 0.01rem solid #d0d6d9;
  width: 100%;
  font-family: "Microsoft YaHei";
  font-size: 0.16rem;
}
.main_path em {
  color: #29b078;
}
.main_career {
  display: flex;
  padding: 0.2rem 0;
  border-bottom: 0.01rem solid #edf1f2;
  font-size: 0.14rem;
  color: #999;
}
.main_career a {
  display: inline-block;
  margin-left: 0.2rem;
  padding: 0.05rem;
  white-space: nowrap;
  color: #000;
}
.main_career a:hover {
  background-color: #29b078;
  color: #fff;
}
.main .career_dir {
  padding: 0.05rem;
  white-space: nowrap;
}
.main_sorts {
  display: flex;
  flex-wrap: wrap;
}
.main_sorts em {
  color: #f2483d;
}
.main_sorts .sorts_career {
  position: relative;
  border: 1px solid #eee;
  margin: 0.4rem 1.5% 0 1.5%;
  width: 30%;
  background-color: #fff;
}
.main_sorts .sorts_career:hover .career_mask {
  display: block;
}
@media screen and (max-width: 992px) {
  .main_sorts .sorts_career {
    margin-left: 2.3%;
    margin-right: 2.3%;
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .main_sorts .sorts_career {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
.main_sorts .career_mask {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  font-family: "Microsoft YaHei";
  font-size: 0.16rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.main_sorts .career_mask div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  text-align: left;
}
.main_sorts .career_mask h6 {
  text-align: center;
  margin-bottom: 0.3rem;
  font-size: 0.16rem;
}
.main_sorts .career_head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #edf1f2;
  padding: 0.1rem;
  font-size: 0.14rem;
  color: #333;
}
.main_sorts .career_head img {
  width: 1.39rem;
  height: 1.4rem;
}
.main_sorts .career_intro {
  flex: 1;
  width: 0;
  margin-left: 0.16rem;
}
.main_sorts .career_intro h5 {
  font-size: 0.16rem;
  margin-bottom: 0.1rem;
}
.main_sorts .career_intro span {
  word-wrap: break-word;
}
.main_sorts .career_content {
  font-size: 0.12rem;
  color: #999;
}
.main_sorts .career_request {
  position: relative;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #edf1f2;
}
.main_sorts .wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.main_sorts .career_star {
  width: 50%;
  padding: 0.15rem 0.1rem;
}
.main_sorts .career_star img {
  margin-left: 0.1rem;
  width: 0.16rem;
  height: 0.16rem;
}
.main_sorts .career_star span {
  margin-left: 0.12rem;
  font-weight: 700;
  color: #000;
}
.main_sorts .career_star + .career_star {
  border-left: 1px solid #edf1f2;
}
.main_sorts .career_salary {
  position: relative;
  border-bottom: 1px solid #edf1f2;
}
.main_sorts .career_salary .salary_left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  text-align: center;
}
.main_sorts .career_salary .salary_right {
  margin-left: 40%;
  padding: 0.15rem 0.1rem;
  border-left: 1px solid #edf1f2;
  color: #000;
}
.main_sorts .career_salary .salary_right span:last-child {
  float: right;
}
.main_sorts .career_salary .salary_right + .salary_right {
  border-top: 1px solid #edf1f2;
}
.main_sorts .career_study {
  padding: 0.15rem 0.1rem;
  border-bottom: 1px solid #edf1f2;
  font-size: 0.14rem;
  font-weight: 700;
  color: #000;
}
.main_sorts .career_notice {
  padding: 0.15rem 0.1rem;
}
.footer {
  font-size: 0.14rem;
  background-color: #29b078;
  color: #fff;
}
.footer h6 {
  margin-top: 0.4rem;
  margin-bottom: 0.78rem;
  font-size: 0.16rem;
}
.footer_info {
  display: flex;
  padding: 0 5% 0.2rem 5%;
  border-bottom: 0.01rem solid #32c086;
}
.footer_info > div {
  width: 29%;
}
.footer_info > div + div {
  margin-left: 6%;
}
.footer_center h6 {
  margin-bottom: 0.42rem;
}
.footer_right {
  text-align: right;
}
.footer_right h6 {
  margin-bottom: 0.2rem;
}
@media screen and (max-width: 900px) {
  .footer_info {
    flex-direction: column;
  }
  .footer_info div {
    width: 100%;
  }
  .footer_info > div + div {
    margin-top: 0.15rem;
    margin-left: 0;
  }
  .footer_right {
    text-align: left;
  }
}
.footer span + span {
  margin-left: 0.1rem;
  padding-left: 0.1rem;
  border-left: 0.02rem solid #fff;
}
.footer a {
  display: inline-block;
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
  border: 1px solid transparent;
}
.footer a:hover {
  border-bottom: 1px solid #fff;
}
.footer_copyright {
  padding: 0.15rem 5%;
  text-align: center;
}
/*# sourceMappingURL=jobList.css.map */