<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<title>Document</title>
	<link rel="stylesheet" href="carousel.css">
</head>
<body>
	<div class="carousel">
		<!-- 轮播指标 -->
		<ol class="carousel_indicator" id="js-indicator">
			<li class="carousel_active"></li>
			<li></li>
			<li></li>
			<li></li>
		</ol>
		<!-- 轮播项目 -->
		<div class="carousel_item" id="js-carouselItem">
			<ul>
				<li>
					<img class="items" src="images/carousel-0.png">
                    <span class="carousel_title">三个臭皮匠，气味都一样</span>
				</li>
				<li>
					<img class="items" src="images/carousel-1.png">
                    <span class="carousel_title">朕与将军解战袍，芙蓉帐暖度春宵</span>
				</li>
				<li>
					<img class="items" src="images/carousel-2.png">
                    <span class="carousel_title">花生与豆干同嚼有火腿味</span>
				</li>
				<li>
					<img class="items" src="images/carousel-3.png">
                    <span class="carousel_title">哈哈哈哈哈哈哈哈哈哈</span>
				</li>
			</ul>
		</div>
		<!-- 轮播导航 -->
	    <a href="#" class="carousel_left" id="js-left">
			<span><</span>
		</a>
		<a href="#" class="carousel_right" id="js-right">
			<span>></span>
		</a>
	</div>

	<script src="carousel.js"></script>
</body>
</html>