
/* ******非flex版本，position方法 兼容IE10及以上********/

/* 重设body的样式 */
body{
	margin: 0;
	padding: 0;
}

/* rem+媒体查询 */
html{
	 font-size: 625%;  /* 720*1280 */
}

@media screen and (max-width: 725px){
	html{
		font-size: 625%;
	}
}

@media screen and (max-width: 480px){
	html{
		font-size: 417%;
	}
}

@media screen and (max-width: 440px){
	html{
		font-size: 382%;
	}
}

@media screen and (max-width: 400px){
	html{
		font-size: 347%;
	}
}

@media screen and (max-width: 360px){
	html{
		font-size: 312.5%;
	}
}

@media screen and (max-width: 320px){
	html{
		font-size: 278%;
	}
}

/* *****头部******* */
header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
	height: .85rem;
    font-size: .36rem;
	background-color: #5fc0cd;
    color: #fff;
}

/* 头部左侧返回按钮 */
.back{
    position: absolute;
    top: 50%;
    left: .3rem;
    transform: translateY(-50%);
    width: .22rem;
    height: .37rem;
    background: url(images/task5.png) -1.44rem -0.1rem;
    background-size: 2.2rem 1.77rem;   /* 雪碧图同比缩放达成自适应 */
}

/* 个人主页文字垂直且水平居中 */
header span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ********banner部分************ */
.banner{
    position: relative;
    margin-top: .85rem;
    height: 3.26rem;
    background-image: url(images/background.png);
    background-size: cover;
    color: #fff;
    font-size: .24rem;
}

/* 护工头像 */
.avatar{
    position: absolute;
    top: 50%;
    left: .3rem;
    transform: translateY(-50%);
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background: url(images/task5.png) #efefef 0.18rem 0.1rem;
    background-size: 2.2rem 1.77rem;
}

/* 护工基本信息 */
.profile{
    position: absolute;
    top: 50%;
    left: 2.4rem;
    transform: translateY(-50%);
}

.profile div{
    margin-bottom: 0.24rem;
    font-size: 0.28rem;
}

em{
    margin-right: .3rem;
    font-size: .36rem;
    font-style: normal;
}

/* 定位图片 */
.map{
    display: inline-block;
    margin-right: .15rem;
    width: .18rem;
    height: .23rem;
    vertical-align: middle;
    background: url(images/task5.png) -1.86rem -0.54rem;
    background-size: 2.2rem 1.77rem;
}

/* **********专业技能 ***********/
.skill{
    margin: .3rem;
    padding-left: .3rem;
    border-left: 0.04rem solid #5fc0cd;
    /* font: 0.32rem/0.95 SimHei; */  /* IE10不兼容 */
    font-size: .32rem;
    font-family: SimHei san-serif;
    line-height: .95;
}

/* ***************main *************/
.main{
    margin-bottom: 1.7rem;
    border-top: 0.01rem solid #e1e5e7;
    border-bottom: 0.01rem solid #e1e5e7;
    font-size: .3rem;
}

/* 每行的信息 */
.live{
    margin-left: .35rem;
    margin-right: .35rem;
    padding-left: .35rem;
    border-bottom: 0.01rem solid #e1e5e7;
    height: 1rem;
    line-height: 1rem;
}

/* 星星图标 */
.star{
    display: inline-block; 
    margin-right: .15rem;
    width: .24rem;
    height: .23rem;
    background: url(images/task5.png) -1.86rem -0.1rem;
    background-size: 2.2rem 1.77rem;
}

/* 分隔线 */
.live-line{
    display: inline-block;
    margin-right: .2rem; 
    padding-right: .3rem;
    border-right: 1px solid #e1e5e7;
    line-height: .9;
}

.request{
    display: inline-block;
    padding-right: .3rem;
    margin-right: .3rem;
    border-right: 1px solid #e1e5e7;
    line-height: .9;
    color: #999;
}

.price{
    color: #e26163;
}

/* 自我介绍 */
.intro{
    position: relative;
    margin-left: .35rem;
    margin-right: .35rem;
    padding-left: .35rem;
    border: none;
}

.intro .request{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.advantage{
    display: inline-block;
    margin-left: 1.9rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    font-size: .26rem;
}

/* **********footer*********** */
footer{
    position: fixed;
    bottom: 0;
    z-index:1;
    width: 100%;
    height: 1.5rem;
    background-color: #fff;
}

footer button{
    margin-top: .325rem;
    width: 42%;
    height: .85rem;
    border-radius: .15rem;
    font-size: .34rem;
    outline: none;
}

/* 留言按钮 */
.message{
    float: left;
    margin-left: 6%;
    margin-right: 1%;
    border: 1px solid #5fc0cd;
    background-color: #fff;
    color: #5fc0cd;
}

/* 电话联系 */
.contact{
    float: right;
    margin-right: 6%;
    margin-left: 1%;
    border: none;
    background-color: #5fc0cd;
    color: #fff;

}



